
html {
	background-image:(imagens/7.jpg);
}

body {
	width:960px;	
	margin:5px auto 15px;
	background-color:#000000;
	box-shadow:0 0 49px #CCC;  
    background-size: contain;

	}

header {
	width:100%;
	height:200px;
	background-image:url(imagens/1.gif);
	background-repeat:no-repeat;
	background-position:top left;
	background-color: ;
    background-size: contain;
}

article {
	margin-top:39px;
	width:600px;
	float:left;
	padding:20px;
}

article h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:32px;
	text-shadow:1px 1px 5px #999;
	color:rgb(204,153,102);
	margin:3px 0;
}

article h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:26px;
	text-shadow:1px 1px 5px #999;
	color:Grey;
	margin:3px 0;
}

article img {
	float:left;
	margin-right:10px;
}

article p {
    text-align:justify;
	font-family:Trebuchet MS;
	font-size:14px;
	color:#F5FFFA;
	line-height:180%;
}

aside {
	float:right;
	width:300px;
	padding:10px;
}

aside h3{
  text-align:center;
}
aside img {
	margin-bottom:10px;	
}

footer {
	width:100%;
	height:30px;
	background-color:black;
	clear:both;
}

#menu_mobile {
	display:none;
}

/* mostrar menu do desktop */
#menu_desktop {
	display:block;
	float:left;
	width:100%;	
	/*min-width:610px;*/
	margin-bottom:29px;
	background-color:white;
	font-family:Bernard MT Condensed;
	font-style:italic;
	font-size:19px;	
 
}

#menu_desktop ul {
	margin:0;padding:0;
	list-style:none;
}

#menu_desktop li {
	float:left;
}

#menu_desktop li  a {
	display:inline-block;
	background-color:white;
	padding:41px 40px;
   text-decoration:none;
	color:black;
}

#menu_desktop li  a:hover {
	background-color:#696969;
}
@media screen and (min-width:481px) and (max-width:768px){
/* Desktop */
body{
width:90%;
}

#menu_desktop {
background-size: contain;
}
article {
width:90%;
}

aside {
float:left;
width:90%;
}

aside img:nth-child(1){
float:left;
}
aside img:nth-child(2){
float:left;
} 

}

/* Smartphone */

@media screen and (min-width:0px) and (max-width:657px){

body{
width:320px;
}
header{
background-image:url(imagens/2.gif);
background-repeat:no-repeat;
width:320px;
height:86px;
}
article {
width:80%;  
}

article img{
margin-bottom:20px;
}

/*aside {
display:none;
}*/

#menu_desktop{
display:none;
}

#menu_mobile{
display:block;
float:left;
width:280px;
margin:20px;
font-family:verdana;
font-size:12px;
}
#menu_mobile ul{
margin:0;
padding:0;
}

#menu_mobile li{
list-style:none;
}

#menu_mobile li a{
display:block;
background-color:back;
padding:10px 5px;
text-decoration:none;
color:white;
margin-bottom:3px;
font-weight:bold;
}

#menu_mobile li a:hover{
background-color:#696969;
color:black;
font-weight:bold;
}













